@import 'tailwindcss';

:root {
    --white: #fff;
    --black: #000;
    --gray-500: #8a8a8a;
    --violet-500: #9c89b8;
    --gray-100: #f3f3f3;
    --gray-300: #ccc;
    --saffron-500: #facc69;

    --font-base: var(--black);

    --navbar-height: 66px;
    --button-height: 52px;
    --button-height-sm: 26px;
}

@theme inline {
    --color-background: var(--gray-100);
    --color-font-base: var(--black);
    
    --color-saffron-500: var(--saffron-500);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --spacing-navbar-height: var(--navbar-height);
    --spacing-button-height: var(--button-height);
    --radius-4xl: 32px;

    --shadow-status-bar: 0 -4px 12px -8px rgba(0, 0, 0, 0.25);
}

@layer utilities {
    .drop-shadow-white {
        filter: drop-shadow(0 0 50px rgba(255, 255, 255, 1));
    }
}

body {
    background: var(--color-background);
    color: var(--color-font-base);
    font-family: Arial, Helvetica, sans-serif;
}
